[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = http://github.com/xolox/vim-shell
[submodule "bundle/fastfileselector"]
	path = bundle/fastfileselector
	url = https://bitbucket.org/madevgeny/fastfileselector
[submodule "bundle/todo-txt"]
	path = bundle/todo-txt
	url = https://github.com/davidoc/todo.txt-vim.git
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes
